section( id='about' class='container content-section text-justify' )
  div( class='row' )
    div( class='col-lg-8 col-lg-offset-2' )
      h2( class='text-center') About
      
      p The main purpose was to provide a comprehensive library for all the projects that require the usual mathematics stuff (vectors, trigonometry, matrices and so on).
      
      p Because of the massive work involved, it's not the complete library yet. I will release the rest as soon as it is ready.

      p Check the 
        a( class='page-scroll' href='#example' ) Examples 
        | section to see how to use Type6.js. There is also a complete 
        a( class='page-scroll' href='doc/index.html' target='_blank' ) documentation 
        | if you need to go deeper.
      
      p You can help develop Type6.js on 
        a( href='https://github.com/LCluber' target='_blank' ) Github
        |.
