extends ../_layout

block title
  div(id='text')
    h1 2D random distribution
    a( href='../../index.htm#example' class='btn btn-secondary' ) &lt;&lt; back 

block content
  script( src = egPath + 'random/2d-random-distribution.js')
