extends ../_layout

block title
  div(id='text')
    h1 Quadratic
    a( href='../../index.htm#example' class='btn btn-secondary' ) << back 

block content
  script( src = egPath + 'bezier/quadratic.js')
