extends ../_layout

block title
  div(id='text')
    h1 Quadratic with Lerp
    a( href='../../index.htm#example' class='btn btn-secondary' ) &lt;&lt; back 

block content
  script( src = egPath + 'bezier/quadratic-with-lerp.js')
