extends ../_layout

block title
  div(id='text')
    h1 Explode
    a( href='../../index.htm#example' class='btn btn-secondary' ) << back 

block content
  script( src = egPath + 'trigonometry/explode.js')
