extends ../_layout

block title
  div(id='text')
    h1 Sinewave animation
    a( href='../../index.htm#example' class='btn btn-secondary' ) << back 

block content
  script( src = egPath + 'trigonometry/sinewave-animation.js')
