extends ../_layout

block title
  div(id='text')
    h1 Sine cosine arctangent
    a( href='../../index.htm#example' class='btn btn-secondary' ) << back 

block content
  script( src = egPath + 'trigonometry/sine-cosine-arctan.js')
