extends _layout

block content

  canvas( id='canvas' )

  //- pre
  //-   code(class="hljs javascript")!= usage

  script( src = '../js/type6.iife.min.js' )
  script( src = '../js/examples/' + jsPath )