footer
  div( class='text-center' )
    p Created by Ludovic Cluber ©2011. Code licensed under MIT License.
    p Source code available on 
      a(href="https://github.com/LCluber/Type6.js" target="_blank") Github
