header( class="header d-flex align-items-baseline")
  div( class="menu-toggler d-flex align-items-center pl-5")
    //- button( id="sidebarToggler" class="btn btn-dark docs-sidebar-toggler" type="button ")
    div( id="sidebarToggler")
      span
      span
      span
    h1 Type6.js 
