header( class="header fixed-top d-flex align-items-baseline")
  div( class="menu-toggler d-flex align-items-center pl-5")
    button( id="sidebarToggler" class="docs-sidebar-toggler" type="button")
      span
      span
      span
    div( class="site-logo ml-5")
      | Type6.js 
  div(class="docs-top-utilities d-flex align-items-center ml-auto mr-5")