header( class="header d-flex align-items-baseline")
  div( class="menu-toggler d-flex align-items-center pl-5")
    div( id="sidebarToggler")
      span
      span
      span
    h1 Type6.js

    div(class="form-group")
      input(type="text" class="form-control" placeholder="Search doc..." aria-label="Search doc..." aria-describedby="inputGroup-sizing-sm" id="search")

