doctype html
html( lang='en')
  head
    include analytics.htm
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible' content='IE=edge' )
    meta( name='viewport' content='width=device-width,initial-scale=1' )
    meta( name='description' content='' )
    meta( name='author' content='Ludovic Cluber' )
    title Type6.js
    link( rel='stylesheet' type='text/css' href= root+'css/style.min.css')
    link( rel="icon" href= root + 'img/favicon.ico')

  body( class="docs-page" )

    include _header

    div(class="docs-wrapper")
      include _menu

      div( class="container")
        article( class="" id="")
          block content
        include _footer
    
    script( src = root+'js/tree.js' )
    script( src = root+'js/main.min.js' )
