extends _layout

block content

  p(align='center') <b>Type6.js</b> is an open source mathematics library written in TypeScript.
  p(align='center') It provides a comprehensive API for all projects involving vectors, trigonometry, matrices, random numbers, rounding numbers...).
  p(align='center') You can check the source code on 
    a( href='https://github.com/LCluber/Type6.js' target='_blank' ) Github
    |.
