extends _layout

block content

  p Type6.js is an open source mathematics library written in TypeScript. Vectors, matrices, trigonometry, bezier curves, lerp, random distribution and so on.
  p It provides a comprehensive API for all projects involving mathematics functions (vectors, trigonometry, matrices...).
  
  p You can help develop Type6.js on 
    a( href='https://github.com/LCluber' target='_blank' ) Github
    |.

  p Type6.js is an open source mathematics library written in TypeScript. Vectors, matrices, trigonometry, bezier curves, lerp, random distribution and so on.
  p It provides a comprehensive API for all projects involving mathematics functions (vectors, trigonometry, matrices...).
  
  p You can help develop Type6.js on 
    a( href='https://github.com/LCluber' target='_blank' ) Github
    |.

  p Type6.js is an open source mathematics library written in TypeScript. Vectors, matrices, trigonometry, bezier curves, lerp, random distribution and so on.
  p It provides a comprehensive API for all projects involving mathematics functions (vectors, trigonometry, matrices...).
  
  p You can help develop Type6.js on 
    a( href='https://github.com/LCluber' target='_blank' ) Github
    |.

  p Type6.js is an open source mathematics library written in TypeScript. Vectors, matrices, trigonometry, bezier curves, lerp, random distribution and so on.
  p It provides a comprehensive API for all projects involving mathematics functions (vectors, trigonometry, matrices...).
  
  p You can help develop Type6.js on 
    a( href='https://github.com/LCluber' target='_blank' ) Github
    |.

  p Type6.js is an open source mathematics library written in TypeScript. Vectors, matrices, trigonometry, bezier curves, lerp, random distribution and so on.
  p It provides a comprehensive API for all projects involving mathematics functions (vectors, trigonometry, matrices...).
  
  p You can help develop Type6.js on 
    a( href='https://github.com/LCluber' target='_blank' ) Github
    |.

  p Type6.js is an open source mathematics library written in TypeScript. Vectors, matrices, trigonometry, bezier curves, lerp, random distribution and so on.
  p It provides a comprehensive API for all projects involving mathematics functions (vectors, trigonometry, matrices...).
  
  p You can help develop Type6.js on 
    a( href='https://github.com/LCluber' target='_blank' ) Github
    |.