extends _layout

block content

  div(class="docs-wrapper")
    include _menu

    div( class="docs-content")
      div( class="container")
        article( class="docs-article" id="section-1")
          div( class='col-md-8 col-md-offset-2')
            h1( class='brand-heading' ) Type6.js
            p( class='intro-text') Installation.
              br/
              br/ 
              a( href='#about' class='btn btn-circle page-scroll' )
                i( class='fa fa-angle-double-down animated' )
