extends _layout

block content

  h2 Intallation

  h3 npm
  pre
    code(class="hljs bash")!= npmHighlightedCode

  h3 Yarn 
  pre
    code(class="hljs bash")!= yarnHighlightedCode

  h3 ES6 Usage
  pre
    code(class="hljs javascript")!= usageEs6

  h3 IIFE Usage
  pre
    code(class="hljs javascript")!= usageIife
