extends _layout

block content

  h2 npm
  pre
    code(class="hljs bash")!= npmHighlightedCode

  h2 Yarn 
  pre
    code(class="hljs bash")!= yarnHighlightedCode

  h2 Get started

  pre
    code(class="hljs javascript")!= usage
          
