extends _layout

block content

  h2 npm
  p ```bash
    | $ npm install @lcluber/type6js
    | ```

  h2 Yarn 

  p ```bash
    | $ yarn install @lcluber/type6js
    | ```

  h2 Get started
          
