/*************************** Theme Colours****************************/
// Define theme colour scheme
$theme-color-primary: #008822;
$theme-color-secondary: lighten($theme-color-primary, 10%);

$theme-text-color-primary: #bfbfbf;
$theme-text-color-secondary: lighten($theme-text-color-primary, 20%);
// $theme-text-color-light: lighten($theme-text-color-primary, 40%);

/*************************** Import Bootstrap  *****************************/
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/highlight.js/scss/atom-one-dark";


/*************************** Theme Styles Section ****************************/
@import "theme/styles.scss"

