// @import "mixins";
// @import "base";
// @import "docs";

$headerHeight: 50px;
$footerHeight: 50px;

body {
  background-color: #222;
  color: $theme-text-color-primary;
}

a {
  color: $theme-text-color-secondary;
  &:hover {
    color: $theme-color-primary;
    text-decoration: none;
  }
}

canvas {
  background: #bfbfbf;
  width:90%;
  height:90%;
}

.hidden{
  display:none;
}

.header {
  height: $headerHeight;
  box-shadow: 0 1px 4px 0 rgba(255,255,255,.1);
  color: $theme-color-primary;

  .menu-toggler {
    height: 100%;
    #sidebarToggler {
      cursor: pointer;
      padding-right: 3rem;
      span {
        display: block;
        height: 3px;
        width: 24px;
        margin-bottom: 5px;
        position: relative;
        // left: 0;
        background-color: #cdcdcd;
        opacity: 0.8;
        border-radius: 1px;
      }
    }

    .docs-sidebar-toggler {
      display: inline-block;
      border: none;
      padding: 0;
      font-size: inherit;
      position: relative;
      &:focus {
        outline: none;
      }
      &:hover {
        span {
          opacity: 1;
        }
      }
    }
  }

  .top-search-box {
    width: 300px;
	}
}

.index-text {
  text-align:'center';
  font-size: 18px;
}

.docs-wrapper {
  // margin-top: $headerHeight;
  height: calc(100vh - #{$headerHeight});
  display: flex;
  overflow: hidden;

  .docs-sidebar {
    // height: calc(100vh - #{$headerHeight});
    height: 100%;
    background-color: #222;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all .35s ease-in-out;
    width: 230px;
    flex-shrink: 0;
    // transform: translateX(0);
    box-shadow: 0 1px 4px 0 rgba(255,255,255,.1);
  
    &.sidebar-visible {
      width: 230px;
      transform: translateX(0);
    }

    &.sidebar-hidden {
      width: 0;
      transform: translateX(-230px);
    }

    .list-group-item {
      background-color: #222;
    }

    .nav-item {
      border: 0;
      padding:0 0 0 10px;
      
      .nav-link {
        padding: 0;
        &.active {
          color: $theme-color-secondary;
        }
      }
    }
  }

  .container {
    // height: calc(100vh - #{$headerHeight});
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex-grow: 1;
    overflow: auto;
    padding-left: 30px;
    padding-top: 30px;
    width: 100%;
    max-width: 100%;

    .table {
      color: $theme-text-color-primary;
    }
  }

  @media screen and (max-width: 768px) {
    .docs-sidebar {
      width: 0;
      transition: all .35s ease-in-out;
      position: absolute;
      z-index: 1;

      &.sidebar-visible {
        width: 0;
        transform: translateX(-230px);
      }

      &.sidebar-hidden {
        width: 230px;
        transform: translateX(0);
      }
    }
  }
}

footer {
  height: $footerHeight;
  font-size: 11px;
  padding: 10px 0;
  // box-shadow: 0 1px 4px 0 rgba(255,255,255,.1);

  p {
    margin: 0;
  }
}

/* Custom scrollbar for Chrome browser */
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #020b0b;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: $theme-color-primary;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $theme-color-secondary;
}