extends ../_layout

block title
  div(id='text')
    h1 Normalize
    a( href='../../index.htm#example' class='btn btn-secondary' ) << back 

block content
  script( src = egPath + 'mathUtils/normalize.js')
