extends ../_layout

block title
  div(id='text')
    h1 Round
    a( href='../../index.htm#example' class='btn btn-secondary' ) &lt;&lt; back 

block content
  script( src = egPath + 'mathUtils/round.js')
